[submodule "Java_and_Web_basic"]
	path = Java_and_Web_basic
	url = https://github.com/wj0624/Java-and-Web-basic.git
[submodule "Database"]
	path = Database
	url = https://github.com/wj0624/SQL_Oracle.git
[submodule "Spring_Framework"]
	path = Spring_Framework
	url = https://github.com/wj0624/Spring-Framework.git
